<section class="recruitment-solution">
    <div class="recruitment-container">
        <div class="recruitment-heading">
            <h4>Recruitment Solution</h4>
            <div class="heading-line"></div>
        </div>
        <div class="recruitment-catagery">
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Immigration Services</p>
            </div>
            <div class="services">
                <i class="icon_service hr-solution"></i>
                <p>HR Solution</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Recruitment Agency</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Manpower Services</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Career Consultant</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Carporate Training</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Education Consultancy</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Ovearseas Placement</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Security Services</p>
            </div>
            <div class="services">
                <i class="icon_service immigration-services"></i>
                <p>Housing Keeping Services</p>
            </div>


        </div>

    </div>
</section>
