<!-- <p>marketing works!</p>
<p>hgvhgdfghefv</p> -->
<section class="container1">
<div class="page-title">Find Job Vacancies by Category</div>
<div class="skill-list">

  <a routerLink="business"><h4>Marketing</h4></a> 
    <h4>Telecallin/BPO/Telesal...</h4>
    <h4>Computer/Data entry option</h4>
    <h4>Software/web Developer</h4>
    <h4>Digital/online marketing</h4>
</div>

<div class="skill-list2">
    <h4>Graphic& web Designer</h4>
    <h4>Receptionlist/Front office..</h4>
    <h4>Doctor and Dentist</h4>
    <h4>Civil Engineer/Architect</h4>
    <h4>Accounts / Finanace</h4>
</div>
<div class="skill-list3">
    <h4>Electrical Engineer</h4>
    <h4>Nurse / Patient care</h4>
    <h4>Hardware & Network Engi...</h4>
    <h4>Photography & video Editi...</h4>
    <h4>Security Gaurd</h4>
</div>

<div class="skill-list4">
    <h4>Interior Designer</h4>
    <h4>Chemical Engineer</h4>
    <h4>Logistics / Warehouse op...</h4>
    <h4>Made / Baby care</h4>
    <h4>Fitness Trainer / Dietician</h4>
</div>
</section>
