<nav>
    <img src="https://static.placementindia.com/new-images/pi_logo.png" alt="">

    <div class="dropdown">
        <div class="dp">
        <button class="dropbtn">Jobs <i class="fa-solid fa-angle-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Jobs by Category</a>
            <a href="#">Jobs by Skill</a>
            <a href="#">Jobs by Role</a>
            <a href="#">Jobs by Education</a>
            <a href="#">Jobs byCity</a>
        </div>
    </div>
    <div class="dp">
        <button class="dropbtn">Career <i class="fa-solid fa-angle-down"></i></button>
        <div class="dropdown-content">
            <b>Job Seeker Services</b>
            <a href="#">Resume Writing </a>
            <a href="#">  Visual Resume</a>
            <a href="#">    Fast Track Career</a>
            <a href="#">   Premium Seeker</a>
        </div>
        </div>
        <div class="dp">
        <button class="dropbtn">Consult <i class="fa-solid fa-angle-down"></i></button>
        <div class="dropdown-content">
            <a href="#">Recruiter Agencies</a>
            <a href="#">HR solutions</a>
            <a href="#">Career Consult</a>
            <a href="#">Education Consults</a>
            <a href="#">Corporate Training</a>
        </div>
        </div>
    </div>

<a href="">PostResume</a>
<p>sign in </p>

<button class="dropbtn">For Employer <i class="fa-solid fa-angle-down"></i></button>
<div class="dropdown-content">
    <a href="#">Register Now</a>
    <a href="#">Free job POsting</a>
    <a href="#">smart resume search</a>
    <a href="#">sign in</a>
    <a href="#">Contact us</a>
</div>

<button>post job Free</button>
</nav>


<section>
    <div class="one">
    <div class="ring">JC</div>
    <div class="cont">
    <b>Jobskey Consultant</b>
    <span>Hyderabad</span>
   <p>18, Ground Floor, Lenaine Estate, Abids, Hyderabad, Telangana</p>
</div>
<div class="send">
    <i class="fa-solid fa-envelope"></i>
    <span>SEND INQUIRY</span>
</div>
<div class="send1">
    <i class="fa-solid fa-desktop"></i>
    <span>VIEW CONTACT</span>
</div>
</div>


<div class="text">
    <p>We are service provider of placement agencies in all sectors.</p>
    <p>Our Services</p>
    <div class="re">
    <b>Recruitment Agency : </b>
    <p>Recruitment Agency, Job Placement Agencies, Online Recruitment Agencies, Job Recruiting Websites, Domestic Placement Services, Permamnent Temporary Staffing Company </p>
</div>
</div>

<div class="ll">
<section class="ff">
<div class="two">
<div class="pic">
    <img src="https://static.placementindia.com/images/no-image.jpg" alt="">
</div>
<div class="data">
     <p>Riyas</p>
        <P>Jobskey Consultant</P>
         <p>18, Ground Floor, Lenaine Estate, Abids, Hyderabad, Hyderabad, Telangana, India</p>   
</div>
</div>

<div class="bottom">
    <button >Send Message</button>
    <p class="act">0 active jobs</p>
</div>
</section>

<section class="fff">
    <div class="two">
        <div class="pic">
            <img src="https://static.placementindia.com/images/no-image.jpg" alt="">
        </div>
        <div>
            <p>Zubair Mohammed</p>
            <p>Jobskey Consultancy</p>
            <p> Balaji Towers, Road No 13, Hyderabad, Telangana, India</p>
        </div>
        </div>
        <p>Skills/Roles I hire for :</p>
        <p>Ultrasound,Ultrasonic Testing,CT Scan,Recruitment Executive,Employee relations,Payroll Administration,Nursing Staff,Nurses,Home Care Nurses,H</p>
        <div class="bottom1">
<button>Send Message</button>
<div>
    <p class="actv">0 active jobs</p>
    <p> Last active on 17-Dec-2022</p>
</div>
        </div>
       </section>
       </div>
</section>
