<h2>Featured Placement Consultant</h2>

<section>
    <div class="col1" >
        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/1122828_20220523111731.jpg" alt="" >
            <p class="p">Jobskey Consultancy</p>
            <p class="pp">Banjara Hills, Hyderabad</p>
        </div>

        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/868462_20200302215313.jpg" alt=""  width="60px">
            <p class="p">Doctors Door Health Care Staffing And Consultant Llp</p>
            <p class="pp">Sulthan Bathery</p>
        </div>

        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/333180_20180622114429.png" alt=""   height="75px">
            <p class="p">Mass Management Services Pvt. Ltd.</p>
            <p class="pp">Delhi/NCR</p>
        </div>

        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/1062614_20221103153256.jpg" alt="">
            <p class="p">Elite Consultancy Services</p>
            <p class="pp">Aligarh</p>
        </div>

        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/794651_20190327163848.jpg" alt="">
            <p class="p">SK Placement</p>
            <p class="pp">Rohtak</p>
        </div>

        <div class="jobkey">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/1091352_20220309102606.jpg" alt="">
            <p class="p">HB Solution</p>
            <p class="pp">Kalyan West, Thane</p>
        </div>

    </div>


    <div class="col2">
        <div class="hr">
          <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/333619_20220812120437.jpg" alt="">
          <p class="p1">SDP HR Solution</p>
          <p class="pp1">Bharuch</p>
        </div>

        <div class="hr">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/1114134_20220511161140.jpg" alt="">
            <p class="p1">Job Solution Hub</p>
            <p class="pp1">Sector 15, Sonipat</p>
          </div>

          <div class="hr">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/319397_20190723160139.jpg" alt="">
            <p class="p1">Pull In Jobs Intelligent Resourcing</p>
            <p class="pp1">Jaipur</p>
          </div>
          <div class="hr">
            <img src="		https://dynamic.placementindia.com/recruiter_comp_logo/765051.jpg" alt="">
            <p class="p1">Rapid India Solution</p>
            <p class="pp1">Auraiya</p>
          </div>
          <div class="hr">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/275423_20191130121725.jpg" alt="">
            <p class="p1">AMC Management Services</p>
            <p class="pp1">Gurugram</p>
          </div>

          <div class="hr">
            <img src="		https://dynamic.placementindia.com/recruiter_comp_logo/1137721.jpg" alt="">
            <p class="p1">Kush Enterprises</p>
            <p class="pp1">Jabalpur</p>
          </div>
    </div>


    <div class="col3">
        <div class="power">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/738511_20191220122751.jpg" alt="">
            <p class="p1">Manpowerworld Placement & Facility Management</p>
            <p class="pp1">Rajkot</p>
        </div>

        <div class="power">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/634143_20171109151636.png" alt="">
            <p class="p1">G K Consulting Services Of India</p>
            <p class="pp1">Delhi</p>
        </div>

        <div class="power">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/530181_20170424105957.png" alt="">
            <p class="p1">RightRecruit HR Consultants</p>
            <p class="pp1">Ghaziabad</p>
        </div>

        <div class="power">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/356239.png" alt="">
            <p class="p1">An Opulence Consulting Services</p>
            <p class="pp1">Delhi</p>
        </div>

        <div class="power">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/789071_20210415120428.jpg" alt="">
            <p class="p1">Prarita Management Private Limited</p>
            <p class="pp1">Brahmapur, Ganjam</p>
        </div>

        <div class="power">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/816595_20190315095121.jpg" alt="">
            <p class="p1">SKYLINE HR INTERNATIONAL</p>
            <p class="pp1">Naraina, Delhi/NCR</p>
        </div>
    </div>


    <div class="col4">
        <div class="edge">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/641771_20171130114626.png" alt="">
            <p class="p1">The Edge Consultancy</p>
            <p class="pp1">siliguri</p>
        </div>

        <div class="edge">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/781115.jpg" alt="">
            <p class="p1">High Touch Recruitment Services</p>
            <p class="pp1">karnal</p>
        </div>

        <div class="edge">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/623126_20170814093859.png" alt="">
            <p class="p1">ADEP Consultants</p>
            <p class="pp1">Ambarnath, Thane</p>
        </div>

        <div class="edge">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/863050_20190901155557.jpg" alt="">
            <p class="p1">Digant Consultancy</p>
            <p class="pp1">Thane</p>
        </div>

        <div class="edge">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/804232_20190513135027.jpg" alt="">
            <p class="p1">BUSINESS INDIA</p>
            <p class="pp1">South Delhi, Delhi</p>
        </div>

        <div class="edge">
            <img src="https://dynamic.placementindia.com/recruiter_comp_logo/757881.jpg" alt="">
            <p class="p1">S.P.N India Placement Pvt. Ltd.</p>
            <p class="pp1">Ahmedabad</p>
        </div>
    </div>


    <div class="col5">
        <div class="args">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/254473.jpg" alt="">
            <p class="p1">ARGShreeradhe Services</p>
            <p class="pp1">Lucknow</p>
        </div>

        <div class="args">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/1114281_20220416104601.jpg" alt="">
            <p class="p1">Hrpioneer</p>
            <p class="pp1">Hyderabad</p>
        </div>

        <div class="args">
            <img src="	https://dynamic.placementindia.com/recruiter_comp_logo/776382_20181029203350.jpg" alt="">
            <p class="p1">Mickyzzz Job Placement</p>
            <p class="pp1">Gobindgarh</p>
        </div>
    </div>
</section>



<a _ngcontent-tgk-c541="" class="docs-guide-item ng-star-inserted" href="/guide/getting-started">
    <mat-card _ngcontent-tgk-c541="" class="mat-mdc-card mdc-card docs-guide-card">
        <mat-card-title _ngcontent-tgk-c541="" class="mat-mdc-card-title">Getting started</mat-card-title>
        <div _ngcontent-tgk-c541="" class="docs-guide-card-divider">
                    <mat-card-content class="mat-mdc-card-content docs-guide-card-summary"> Add Angular Material to your project! </mat-card-content>
</div>
     </mat-card>
</a>