<div class="nav">
    <div class="placement">
        <img src="https://static.placementindia.com/images/pi_logo.png">
    </div>
    <div>
        <ul>
            <li>Jobs<i class="fa fa-angle-down"></i>
                <div class="drop">
                    <a href="#">Jobs by Category</a>
                    <a href="#">Jobs by Skill</a>
                    <a href="#">Jobs by Role</a>
                    <a href="#">Jobs by Education</a>
                    <a href="#">Jobs by City</a>
                    <a href="#">Gulf Jobs</a>
                    <a href="#">International Jobs</a>
                </div>
            </li>
            <li>Career<i class="fa fa-angle-down"></i></li>
            <li>Consultant<i class="fa fa-angle-down"></i></li>
        </ul>
    </div>
    <div class="resume">
        <a class="login" routerLink="login"><i class="fa fa-key"></i>&nbsp;&nbsp;Login</a>
        <a class="post"><i class="fa fa-envelope"></i>&nbsp;&nbsp;Post Resume</a>
    </div>
    <div class="for">
        <img src="https://static.placementindia.com/images/icon_employer.png">
        <li class="list">For Employer<i class="fa fa-angle-down"></i></li>
    </div>
    <a class="job">Post Job<span class="free">Free</span></a>
</div>

<div class="find">
    <div class="dream">
        <p class="para">Find your dream job now</p>
        <div class="inpt">
            <input type="text" placeholder="Enter Skills,Designation,etc" class="input">
            <input type="text" placeholder="Enter Location" class="control">
            <div class="search">
                <img src="https://static.placementindia.com/images/search-icon2.png">
            </div>
        </div>
        <div class="browse">
            <div style="color: #fff;" class="brow">BROWSE JOBS</div>
            <div class="function">
                <a>Function</a>
                <a>Location</a>
                <a>Industry</a>
                <a>Skills</a>
                <a>Role</a>
                <a>Fresher Jobs</a>
                <a>Walkin Jobs</a>
                <a>More<img src="https://static.placementindia.com/images/arrow-down2.png"></a>
            </div>
        </div>
    </div>
    <div class="seeker">
        <p style="color: #fff;">Jobseeker</p>
        <a>Register Free</a>
        <div class="or">
            or
        </div>
        <div class="signin">
            <img src="https://static.placementindia.com/images/user-icon.png">
            <span>Sign In</span>
        </div>
    </div>

</div>

