<div class="section2">
    <div class="title">
        <h2>Jobs for <span>Freshers</span></h2>
    </div>
    <div class="viewalljobs">
        <div class="alljobs">
            <div class="sjci">
                <h2 class="sjci-heading">
                    <a href="https://www.placementindia.com/job-detail/massage-therapist-jobs-in-dwarka-for-olive-spa-1115096.htm"
                        class="job-name">Massage Therapist</a>
                    <p class="job-cname">Olive spa</p>
                </h2>
                <div class="job-c-logo" style="background:#9ae496"><span>OS</span></div>
                <ul class="sjci-need">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14"
                            loading="lazy" alt="Experience"> 0 - 1 yrs</li>
                    <li><img src="https://static.placementindia.com/images/icon_sallery.png" width="14" height="14"
                            loading="lazy" alt="Salary"> Rs.3.50 - 4.50 Lakh/Yr</li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14"
                            loading="lazy" alt="Location"> Dwarka</li>
                </ul>
                <div class="sjci-skils">
                    <div class="sk_list"><span>Massage Therapist</span></div>
                </div>
            </div>
        </div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
        <div class="alljobs"></div>
    </div>
</div>