<div class="section2">
    <div class="title">
        <h2>Jobs for <span>Freshers</span></h2>
    </div>
    <div class="viewalljobs">
        <div class="alljobs">
            <div class="item">
                <h2>Massage Therapist</h2>
                <p>Olive spa</p>
                <div class="logo" style="background:#9ae496">
                      <span>OS</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 1 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Dwarka
                    </li>
                </ul>
                <div class="therapist">
                <span>Massage Therapist</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Data Entry Operator</h2>
                <p>DHANI Healthcare Pvt Ltd</p>
                <div class="logo" style="background:#c2aae2">
                      <span>DH</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 1 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Noida sector 15
                    </li>
                </ul>
                <div class="therapist">
                <span>Microsoft Office</span>
                <span>Data Entry Operation</span>
                <span>Data Processing</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Teacher</h2>
                <p>Teach beat</p>
                <div class="logo" style="background:#d7b886">
                      <span>TB</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 3 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Kolkata
                    </li>
                </ul>
                <div class="therapist">
                <span>Instructor/Trainer</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Instructional Designer</h2>
                <p>CaratLane Trading Pvt. Ltd.</p>
                <div class="logo" style="background:#c2aae2">
                      <span>CT</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 3 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Mumbai
                    </li>
                </ul>
                <div class="therapist">
                <span>Storyboarding</span>
                <span>Captivate</span>
                <span>Articulate</span>
                <span>Storyline</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Office Assistant</h2>
                <p>My fashion industry</p>
                <div class="logo" style="background:#9ae496">
                      <span>MF</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 6 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Patna <span style="color:red">+4</span>
                    </li>
                </ul>
                <div class="therapist">
                <span>Receptionist Activities</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Market Research Analyst</h2>
                <p>Market Statsville Group</p>
                <div class="logo" style="background:#9ae496">
                      <span>MS</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 1 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        India
                    </li>
                </ul>
                <div class="therapist">
                <span>Microsoft Office</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Article Assistant</h2>
                <p>P K Chand & Co</p>
                <div class="logo" style="background:#d1d786">
                      <span>Pk</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 1 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Noida
                    </li>
                </ul>
                <div class="therapist">
                <span>Tally</span>
                <span>Accounting</span>
                <span>Microsoft Office</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Medical Representative</h2>
                <p>SIDDHARTH  VERMA</p>
                <div class="logo" style="background:#d7b886">
                      <span>SV</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 1 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Jabalpur
                    </li>
                </ul>
                <div class="therapist">
                <span>Communication Skills</span>
                <span>Pharma Marketing</span>
                </div>
            </div>
        </div>
        <div class="alljobs">
            <div class="item">
                <h2>Customer Service Executive</h2>
                <p>DS M-POWER SOLUTIONS</p>
                <div class="logo" style="background:#c2aae2">
                      <span>DM</span>
                </div>
                <ul class="logo_location">
                    <li><img src="https://static.placementindia.com/images/icon_exp.png" width="14" height="14" loading="lazy" alt="Experience">
                    0 - 5 yrs
                    </li>
                    <li><img src="https://static.placementindia.com/images/icon_location.png" width="14" height="14" loading="lazy" alt="Location">
                        Bangalore
                    </li>
                </ul>
                <div class="therapist">
                <span>customer services</span>
                <span>Call Center Executive</span>
                </div>
            </div>
        </div>
    </div>
    <div class="morejobs">
        
    </div>
</div>